/* :root {
  --dark0: #211e20;
  --dark1: #3e3c3d;
  --dark2: #5a5a5a;
  --dark3: #777877;
  --dark4: #939595;
  --dark5: #b0b3b2;
  --dark6: #ccd1cf;

  --blue: #555568;
  --tan: #a0a08b;
  --white: #e9efec;

  --1: #FFCACA;
  --2: #FFDCC6;
  --3: #FFEDC1;
  --4: #FEFFB8;
  --5: #E1FFC2;
  --6: #C4FFCB;
  --7: #B9ECE5;
  --8: #ADD8FF;
  --9: #BDC4F4;
  --0: #CCAFE9;

  --px: 60px;
} */
