:root {

  --red: #B1443D;
  --orange: #CD8753;
  --yellow: #D9BF69;
  --green: #8E9C61;
  --lblue: #80B0AE;
  --blue: #4D53AF;
  --purple: #9F67A9;
  --lbrown: #F7E6C8;
  --dbrown: #9A754E;

  --px: 100px;


}
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Merriweather, serif;
  width: 100%;
}

main {
  background-color: var(--lbrown);

  /* background-color: #D7EAE9; */
}

a {
  color: var(--blue);

}


a:visited {
  color: var(--purple);
}


a.submit {
  font-weight: bold;
  background-color: var(--green);
  text-decoration: none;
  color: var(--lbrown);
  padding: 15px 25px;
  font-size: 1.2em;
  border-radius: 25px;
}

a.submit:hover {
  background-color: var(--blue);
}

h1 {
  color: var(--lbrown);
  text-shadow: 2px 2px var(--red);
  font-size: 2em;
}

h1.section {
  font-size: 3em;
}
em {
  font-style: normal;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--blue);
}

section {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
}

#hackclub-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}

section#open {
  /* height: 100vh; */
  justify-content: center;
  padding: 120px 0;
  padding-bottom: 80px;
  /* padding-top: 100px; */
}

#open-logo {
  width: 80%;
}


section#sample {
  background-color: var(--dbrown);
  padding: 40px;



}

#sample img#reqs {
  width: 80%;
  margin: 45px;
}

section#sample #text {
  /* padding: 45px; */
}

section#sample .interactive {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;

}


/*

section#sample .interactive  {
  width: 100%;
  aspect-ratio: 1.4;
} */

#numbers {
  background-color: var(--lbrown);
  border-radius: 25px;
  width: 100%;
  aspect-ratio: 1.4;

}

/* #samples {
  width: 100%;
  aspect-ratio: 1.4;

} */

#sample-examples {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;

}

#sample-examples div {
  width: 15%;
  aspect-ratio: 1;
  background-color: var(--lbrown);
  border-radius: 25px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

#sample-examples div img {
  width: 80%;
}

#sample-examples div p:has(a) {
  background-color: var(--green);
  color: var(--lbrown);
  padding: 5px 25px;
  border-radius: 25px;
  text-decoration: none;
}

#sample-examples div p {
  margin: 8px 0;
}

#sample-examples div p a {
  color: var(--lbrown);
  text-decoration: none;
}

section#prize {
  text-align: center;
}

section#prize .hor  {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;

  flex-flow: row;
  justify-content: center;
  gap: 20px;
  padding: 45px;

}

h1.h1-flipped {
  color: var(--dbrown);
  text-shadow: 2px 2px var(--yellow);
}

section#prize .hor div {
  background-color: white;
  aspect-ratio: 0.75;
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;



}

section#prize .hor div#prize-1 {
  transform: rotate(3deg);
  background-color: var(--red);
  color: var(--lbrown);
  text-shadow: 2px 2px var(--dbrown);
}

section#prize .hor div#prize-2 {
  transform: rotate(-3deg);
  background-color: var(--yellow);
  color: black;
  text-shadow: 2px 2px var(--lbrown);
}

section#prize .hor div#prize-3 {
  transform: rotate(5deg);
  background-color: var(--green);
  color: var(--lbrown);
  text-shadow: 2px 2px var(--dbrown);
}

section#prize .hor div img {
  width: 100%;
}


section#prize .hor h1 {
  margin-bottom: 8px;
  text-align: center;
}



section#begin {
  background-color: var(--dbrown);
}

section#begin .steps {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.steps div {
  display: flex;
  background: var(--lbrown);
  border-radius: 25px;
  padding: 25px;
  justify-content: leading;
  gap: 16px;
  align-items: center;
}

.steps > a {
  gap: 16px;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}



section#faq {
  text-align: left;
  align-items: start;
  width: 80%;
  margin: 0 auto;
}

section#faq h1 {
  text-align: center;
  width: 100%;
}

section#faq details {
  padding: 10px;

}

footer {
  background-color: var(--dbrown);
  color: var(--lbrown);
  padding: 32px;
  text-align: center;
}














#game {
  /* border: 4px solid var(--dbrown); */
  background-color: var(--yellow);
  width: 80%;
  padding: 15px 25px;
  border-radius: 25px;
  margin: 24px 0;
}





.game-box {
  display: flex;
  flex-flow: row;
}

.box {
  /* border: 3px solid var(--blue); */
  /* background-color: var(--white); */
  padding: 10px 10px;
  margin: 20px 0;
  box-sizing: border-box;
}


.game-grid {
  border: 3px solid var(--dbrown);
  margin: 10px auto;
  height: calc(var(--px) * 4);
  width: calc(var(--px) * 4);
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1;
  /* pointer-events: none; */
}

.single-grid {

  height: var(--px);
  width: var(--px);
  box-sizing: border-box;
  border: 3px solid var(--dbrown);
  user-select: none;
  /* pointer-events: none; */
}



#drag-box {
  display: flex;
  flex-wrap: wrap;
  min-height: 10vh;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.drag {

  pointer-events: auto;

  box-sizing: border-box;
  /* border: 3px solid var(--dbrown); */
  display: flex;
  justify-content: space-between;

  background-color: var(--dbrown);
  user-select: none;
  box-sizing: border-box;
  border-radius: 8px;
}

.d12 {
  flex-flow: row;
  height: calc(var(--px) - 6px);
  width: calc(2 * var(--px) - 6px);
}

.d21 {
  flex-flow: column;
  height: calc(2 * var(--px) - 6px);
  width: calc(var(--px) - 6px);
}

.d13 {
  flex-flow: row;
  height: calc(var(--px) - 6px);
  width: calc(3 * var(--px) - 6px);
}

.d31 {
  flex-flow: column;
  height: calc(3 * var(--px) - 6px);
  width: calc(var(--px) - 6px);
}

.d11 {
  flex-flow: column;
  height: calc(var(--px) - 6px);
  width: calc(var(--px) - 6px);
}


.drag-box-square {
  box-sizing: border-box;
  height: calc(var(--px) - 6px);
  width: calc(var(--px) - 6px);
  user-select: none;

  border: 8px solid white;
  border-radius: 8px;
  background-color: var(--lbrown);

}

.drag-box-square p {
  font-size: 24px;
  text-align: center;
  margin: calc(50% - 12px - 2px) 0;
  padding: 0;
}

.footer {
  clear: both;
}


div[data-val='1'] {
  border-color: var(--red);
}

div[data-val='2'] {
  border-color: var(--orange);
}

div[data-val='3'] {
  border-color: var(--yellow);
}

div[data-val='4'] {
  border-color: var(--green);
}

div[data-val='5'] {
  border-color: var(--lblue);
}

div[data-val='6'] {
  border-color: var(--blue);
}

div[data-val='7'] {
  border-color: var(--purple);
}
/*
div[data-val='8'] {
  background-color: var(--8);
}

div[data-val='9'] {
  background-color: var(--9);
}

div[data-val='0'] {
  background-color: var(--0);
} */



/* confetti! https://discourse.webflow.com/t/add-falling-confetti-with-css/103687 */


#confetti-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  /* margin: 0; */
  box-sizing: border-box;
  pointer-events: none;
}
.confetti {
 width: 15px;
 height: 15px;
 background-color: #f2d74e;
 position: absolute;
 left: 50%;
 animation: confetti 5s ease-in-out -2s infinite;
 transform-origin: left top;
 overflow: hidden;
}
.confetti:nth-child(1) {
 background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
 background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
 background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
 background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
 background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
 background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
 background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
 background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
 background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
 background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}

@keyframes confetti {
 0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
 25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
 50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
 75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
 100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}



.mobile {
  display: none;
}

@media (max-width: 600px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }


  #sample-examples div {
    width: 48%;
  }


  section#prize .hor  {
    flex-flow: column;
    /* display: flex; */
    /* width: 100%;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;

    flex-flow: row;
    justify-content: center;
    gap: 20px;
    padding: 45px; */

  }

  .steps div, .steps > a {
    left: 0 !important;
  }
}
